<nav class="navbar navbar-custom shadow-sm">
  <div class="container-fluid">
    <button
      class="btn btn-light me-3"
      id="menuToggleBtn"
      onclick="toggleSidebar()"
    >
      ☰
    </button>
    <span class="navbar-brand-custom">
      <img
        src="https://drive.google.com/thumbnail?sz=w300&id=1MsTEIjhHkeq0i74lngukOKemXDoq_O7u"
        alt="YOURSTYLE Logo"
        class="navbar-logo"
      />
      YourStyle Caloocan
    </span>
    <div class="d-flex align-items-center">
      <span id="navbarEmployeeName" class="fw-semibold text-secondary">
        Offline
      </span>
    </div>
  </div>
</nav>
